/*header*/

:root{
  --basicSize:20px;
}

html{
  font-size: 20px; 
  /* font-size: var(--basicSize);  */
}
#wrap{
  /* width: 100vw; */
  width: 100%;
  /* height: 100vh; */
  height: auto;
  font-size: 1rem;
  padding: 0.5em;
  /* border: 0.05em solid #f00; */
  box-sizing: border-box;
}
.header{
  background-color: #ccc;
  padding: 0.75em 0;
}
.header .inner-header{
  display: flex;
  justify-content: center;
}
.header .inner-header .nav{
  flex: 0 1 50em;
  /* border: 0.05em solid #f00; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.header .inner-header .nav h1.logo{
  font-size: 1.5rem;
  flex: 0 0 4em;
  text-align: center;
  line-height: 1em;
  /* border: 0.03333em solid #f00; */
  box-sizing: border-box;
}
.header .inner-header .nav .gnb{
  flex: 0 0 25em;
  /* border: 0.05em solid #f00; */
  box-sizing: border-box;
  /* padding: 0 0.5rem; */
}
.header .inner-header .nav .gnb>ul{
  display: flex;
  justify-content: space-around;
  /* border: 0.083333em solid #f00; */
}
.header .inner-header .nav .gnb>ul>li{
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  line-height: 2.5em;
  /* border: 0.083333em solid #f00; */
  box-sizing: border-box;
}
